[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "composer"]
	path = composer
	url = git@github.com:mortworks/hugo-composer.git
